[submodule "website"]
	path = website
	url = git@github.com:0r080r0/MusicianHealth_Website.git
[submodule "MusicianHealth_Website"]
	path = MusicianHealth_Website
	url = git@github.com:0r080r0/MusicianHealth_Website.git
